body{
	font-size: 18px;
	padding: 0;
	margin: 0;
}

h1{
	margin-left: 30px;
}

.container{
	margin-left: 30px;
	margin-right: 30px;
	width: 500px;
}

.description{
	text-align: justify;
}

button{
	text-align: left;
	width: 200px;
	display: block;
	margin-bottom: 10px;
}

.border{
	border: 1px solid gray;
}

.padding{
	padding: 10px;
}

.footer{
	margin-top: 30px;
	background-color: #efefef;
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer p{
	margin-left: 10px;
	margin-top: 0;
	margin-bottom: 0;
}

input{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
	border-color: lightgray;
}

.error-msg{
	font-size: 11px;
	color: red;
	margin-button: 0px;
}
